<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://code.mysteeltech.com/schema/mybatis/mybatis-3-mapper.dtd">

<mapper namespace="com.flb.atptechnic.dao.CategoryDao">
	<sql id="tab_category"> atp_category </sql>
	
	<insert id="insert" parameterType="category" keyProperty="id" useGeneratedKeys="true">
		insert into <include refid="tab_category"/> 
		(
				code,
				name,
				parent_id
		)
		VALUES 
		(
				#{code},
				#{name},
				#{parentId}
		)
	</insert>
	
	<update id="update" parameterType="category">
		update <include refid="tab_category"/>
		<set>
				code = #{code},
				name = #{name},
				parent_id = #{parentId}
		</set>
		<where>
			id = #{id}
		</where>
	</update>
	
	<select id="findById" parameterType="long" resultType="category">
    	select * from <include refid="tab_category"/> where id = #{id}
  	</select>
  	
	<sql id="condition_sql">
			<if test="code != null"> AND code = #{code} </if>
			<if test="name != null"> AND name = #{name} </if>
			<if test="parentId != null"> AND parent_id = #{parentId} </if>
	</sql>
	
	<select id="query" parameterType="java.util.Map" resultType="category">
		select * from  
		<include refid="tab_category"/>
		
		<where>
			<include refid="condition_sql" />
		</where>
		ORDER BY id DESC
		<if test="start != null and count != null">
			LIMIT #{start}, #{count} 
		</if>
	</select>
	

	<select id="count" parameterType="java.util.Map" resultType="int">
		select count(1) from <include refid="tab_category"/>
		<where>
			<include refid="condition_sql"/>
		</where>
	</select>
	
	<delete id="deleteById" parameterType="long">
    	delete from <include refid="tab_category"/> where id = #{id}
  	</delete>
	
</mapper>