<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://code.mysteeltech.com/schema/mybatis/mybatis-3-mapper.dtd">

<mapper namespace="com.flb.atptechnic.dao.PictureDao">
	<sql id="tab_picture"> atp_picture </sql>
	
	<insert id="insert" parameterType="picture" keyProperty="id" useGeneratedKeys="true">
		insert into <include refid="tab_picture"/> 
		(
				product_id,
				url,
				is_main
		)
		VALUES 
		(
				#{productId},
				#{url},
				#{isMain}
		)
	</insert>
	
	<update id="update" parameterType="picture">
		update <include refid="tab_picture"/>
		<set>
				product_id = #{productId},
				url = #{url},
				is_main = #{isMain}
		</set>
		<where>
			id = #{id}
		</where>
	</update>
	
	<select id="findById" parameterType="long" resultType="picture">
    	select * from <include refid="tab_picture"/> where id = #{id}
  	</select>
  	
	<sql id="condition_sql">
			<if test="productId != null"> AND product_id = #{productId} </if>
			<if test="url != null"> AND url = #{url} </if>
			<if test="isMain != null"> AND is_main = #{isMain} </if>
	</sql>
	
	<select id="query" parameterType="java.util.Map" resultType="picture">
		select * from  
		<include refid="tab_picture"/>
		
		<where>
			<include refid="condition_sql" />
		</where>
		ORDER BY id DESC
		<if test="start != null and count != null">
			LIMIT #{start}, #{count} 
		</if>
	</select>
	

	<select id="count" parameterType="java.util.Map" resultType="int">
		select count(1) from <include refid="tab_picture"/>
		<where>
			<include refid="condition_sql"/>
		</where>
	</select>
	
	<delete id="deleteById" parameterType="long">
    	delete from <include refid="tab_picture"/> where id = #{id}
  	</delete>
	
</mapper>